//  colors
$color: #4E5150;
$orange: #F2994A;
$gray-1: #333;
$gray-2: #4F4F4F;
$gray-3: #828282;
$footer-color: #BDBDBD;
$white: #FFFFFF;
$black: #000000;
$checkout-bg: #F2F2F2;

// font sizes
$font-size-1: 1.5rem;
$font-size-2: 1rem;
$font-size-3: 0.875rem;
// $font-size-4: 0.625rem;
$font-size-4: 0.75rem;

// form width and height mobile
$width-moble: 21.82806rem;
$height-moblie: 2.53488rem;

// form width and height desktop
$width-desktop: 29.0625rem;
$height-desktop: 3.5rem;