//  colors
$color: #4E5150;
$orange: #F2994A;
$gray-1: #333;
$gray-2: #4F4F4F;
$gray-3: #828282;
$footer-color: #BDBDBD;
$white: #FFFFFF;
$checkout-bg: #F2F2F2;

// font sizes
$font-size-1: 1.5rem;
$font-size-2: 1rem;
$font-size-3: 0.875rem;
$font-size-4: 0.75rem;
